@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Kantumruy Pro", sans-serif;
}

.main {
  margin: 0 0 20px 0;
}
.main p {
  font-size: 30px;
  margin: 0 0 10px 0;
}
.main p:last-child {
  margin: 0;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.input {
  font-size: 30px;
  width: 500px;
  margin: 0 0 10px 0;
  padding: 5px 10px;
  border: 1px solid #000;
}
.input:last-child {
  margin: 0;
}

button {
  background-color: rgb(255, 187, 0);
  padding: 10px 60px;
  font-size: 30px;
  border-radius: 5px;
}

.ul {
  padding: 10px 20px;
  font-size: 40px;
}

.li {
  line-height: 1.4;
}

.workers {
  font-size: 30px;
  line-height: 1.4;
}
.workers__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 700;
}
.workers__value {
  width: 100%;
}
.item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.item__name {
  width: 100%;
}
.item__age {
  width: 100%;
}
.item__salary {
  width: 100%;
}

.cities {
  padding: 10px 20px;
  font-size: 40px;
}
.cities__li {
  line-height: 1.4;
}